/*
 * Relevant to About section of webpage
 */

#about {
    /* background-color: rgb(220, 240, 255); */
    background-color: rgb(230, 240, 255);
}

#about::after {
    display: block;
    content: "";
    clear: both;
}

#about a {
    font-weight: bold;
}

#education {
    display: flex;
    align-items: top;
}

#education > img {
    margin-right: 25px;
    height: 220px;
}

#education-desc > p {
    margin: 0;
}

#education-desc > ul {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}
