#experience {
    /* background-color: rgb(174, 206, 238); */
    background-color: rgb(199, 223, 247);
}

.experience-items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.experience-item {
    display: flex;
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
}

.experience-image-container img {
    max-width: 160px;
    max-height: 160px;
}

.experience-info {
    flex-grow: 1;
    margin-left: 80px;
}

.experience-tech {
    padding-left: 20px;
}

.tech-used {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.tech-used li {
    border-radius: 6px;
    border: none;
    padding: 6px 10px;
    background-color: rgb(109, 208, 230);
}
