/*
 * CSS relevant to header section
 */

header {
    background-color: white;
}

#titlebar {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.header-link {
    /*display: inline-flex;
    justify-content: flex-end;
    align-items: center;*/
    text-align: right;
    font-size: 20px;
    color: black;
    padding: 5px 0 5px 20px;
}

.header-link img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

/* -- Navigation bar -- */

#navbar {
    /* color: white; */
    color: rgb(168, 168, 168);
    text-align: center;
    font-size: 0; /* inline-block hack */
    border: 2px solid black;
    background-color: rgb(54, 54, 54);
    margin: 0 -2px;
}

#navbar > a {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
}

#navbar > a:hover {
    background-color: rgb(95, 95, 95);
}

/* used for sticky navigation bar effect */
.at-top {
    position: fixed;
    top: 0;
    width: 1150px;
    z-index: 1;
}

.thispage {
    color: white;
    background-color: rgb(95, 95, 95);
    /* color: rgb(189, 189, 189); */
}