.section {
    padding: 50px;
}

.section h2 {
    font-size: 35px;
    margin-top: 0;
}

.section div {
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}

#skills div {
    background-color: white;
    width: 500px;
    height: 140px;
    vertical-align: top;
    padding: 20px;
}

h3 {
    margin: 0;
}

.logo-container {
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    padding: auto;
}

.logo-container img {
    max-height: 100%;
    max-width: 100%;
}