/*
 * Revelant to Projects (and Contact) sections of webpage
 */

#projects {
    /* background-color: aquamarine; */
    background-color: rgb(170, 216, 255);
}

#projects-table {
    width: 100%;
    text-align: center;
}

#projects-table tr {
    margin-top: 50px;
}

#projects-table td {
    padding: 0 45px;
    margin-top: 50px;
    vertical-align: top;
}

#projects-table p {
    margin: 10px 0;
}

.project-image-container {
    display: block;
    width: 300px;
    height: 200px;
    margin: auto;
    position: relative;
    background-color: rgb(156, 196, 228);/* rgb(103, 226, 185);*/
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 25px;
    transition: 0.5s;
}

.project-image {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.project-image-container:hover {
    background-color: rgb(131, 166, 196);
}

.project-image-container:hover .project-image {
    max-width: 85%;
    max-height: 85%;
}

.project-lang {
    font-weight: 700;
    color: rgb(24, 112, 83);
}