/*
 * Relevant to Skills section of webpage
 * Note: some css properties are modified in skills.js
 */

#skills {
    /*background-color: rgb(179, 235, 241);*/
    background-color: rgb(200, 230, 255);
}

/* Container for skills circle-related elements */
#skills-circle {
    position: relative;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    visibility: hidden; /* temporary; while js is running */
    margin-top: -50px;
}

text {
    fill: rgb(63, 101, 112);
    font-size: 28px;
}

/* Actually an enclosing div around skill picture */
.skill-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-picture:hover {
    width: 75px;
    height: 75px;
}

/* Actual image inside enclosing div */
.skill-picture-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Info container at center of skills circle */
#skill-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

/* Following items for elements of info container */

#info-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#info-name {
    font-size: 45px;
    margin: 15px;
}

#info-name > p {
    /* Draw border around *what will be* lightly colored text so it is easier to read */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
    margin: 15px;
}

#info-list {
    font-size: 25px;
    list-style-type: none;
    padding-left: 0;
}

#info-list hr {
    border: 1px solid black;
    margin: 10px;
}
