.item {
    vertical-align: top;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    border: 2px solid blue;
}

/*
    For items that contain logos
*/

#languages {
    background-color: lightcyan;
}

#languages .item {
    border-color: rgb(75, 177, 228);
}

.logo-item {
    width: 200px;
    text-align: center;
}

.logo {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

.logo img {
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

/*
    For items in the 'fundamentals' category
*/

#fundamentals {
    background-color: lightblue;
}

.fund-item-container {
    display: flex;
    flex-wrap: wrap;
}

.fund-item-container .item {
    flex-basis: 40%;
    flex-grow: 1;
    min-width: 500px;

    display: flex;
    text-align: left;
    background-color: white;
    border-color: rgb(51, 140, 218);
}

.fund-item-container .item > img {
    height: 150px;
    margin-right: 20px;
}
