#skills-circle {
    position: relative;
    border-radius: 50%;
    margin: auto;
    visibility: hidden; /* temporary */
}

.skill-picture {
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.skill-picture:hover {
    max-width: 90px;
    max-height: 90px;
}

.item {
    vertical-align: top;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    border: 2px solid blue;
}

.logo img {
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}
