/*
 * CSS relevant to the webpage as a whole
 */

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(233, 233, 233);
}

main {
    width: 950px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 0 2px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
 * For major divided sections of the webpage
 */

.section {
    padding: 50px;
    text-align: left;
}

.section p {
    font-size: 20px;
}

.section > h2 {
    font-size: 35px;
    margin-top: 0;
}

.section h3 {
    margin: 0;
    font-size: 30px;
}

#about {
    background-color: lightgray;
}

#about::after {
    display: block;
    content: "";
    clear: both;
}

#about a {
    color: red;
}

#education {
    display: flex;
    align-items: top;
}

#education > img {
    margin-right: 25px;
    height: 220px;
}

#education-desc > p {
    margin: 0;
}

#education-desc > ul {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}

#contact a {
    font-size: 20px;
    margin-right: 50px;
}

#contact img {
    height: 20px;
}
