body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

/* -- Header section -- */

header {
    text-align: center;
}

#title {
    font-weight: 700;
    font-size: 70px;
    margin: 40px;
    display: inline-block;
}

#contact {
    margin: auto;
    float: right;
    font-size: 20px;
    background-color: lightblue;
}

.contact-link {
    display: block;
    margin: 10px;
}

.contact-link * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.contact-link p {
    color: black;
}

.contact-link img {
    height: 30px;
}

/*#contact p {
    display: inline;
    vertical-align: middle;
    margin: 0;
}*/

/* -- Navigation bar -- */

nav {
    text-align: center;
    font-size: 0; /* inline-block hack */
}

nav ul {
    list-style-type: none;
    background-color: rgb(54, 54, 54);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}

nav li a:hover {
    background-color: rgb(95, 95, 95);
}

/* used for sticky navigation bar effect */
.at-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#thispage {
    color: rgb(194, 194, 194);
}
