$mainWidth: 800px;
$almostWhite: #f7f8f8;

// $themeColor1: #1c979c;
// $themeColor2: #3a838b;
// $themeColor3: #03474a;
$themeColor1: #1c899c;
$themeColor2: #3a738b;
$themeColor3: #033e4a;

$smallScreen: 650px;
