@use "shared";

body {
  margin: 0;
  font-family: 'Inter', 'system-ui', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: shared.$themeColor2;
  transition: 0.25s;
  font-weight: bold;

  &:hover {
    color: darken(shared.$themeColor2, 10%);
  }
}

ul {
  padding-left: 20px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

:root {
  --background-color: shared.$almostWhite;
  --text-color: #282828;
  --container-color: hsl(210, 15%, 98%);
  --container-border-color: hsl(180, 7%, 80%);
}

:root.dark-mode {
  // --background-color: #262727;
  --background-color: #232323;
  --text-color: #d1d1d1;
  --container-color: hsl(240, 1%, 17%);
  // --container-color: #1a1a1a;//hsl(240, 1%, 17%);
  --container-border-color: hsl(180, 2%, 30%);
  // --container-border-color: hsl(180, 2%, 26%);
}
