@use "shared";

body {
  margin: 0;
  font-family: 'Inter', 'system-ui', sans-serif;
  background-color: shared.$almostWhite;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: shared.$themeColor2;
  transition: 0.25s;
  font-weight: bold;

  &:hover {
    color: darken(shared.$themeColor2, 10%);
  }
}

p, li {
  font-size: 18px;
}
