/*
 * CSS relevant to header section
 */
@use "shared";

header {
  color: var(--text-color);
}

#titlebar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: shared.$mainWidth;
}

#title {
  font-family: "Geologica";
  font-weight: 500;
  font-weight: bold;
  font-size: 2.75rem;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 26px;
  text-decoration-color: shared.$themeColor1;
}

.darkmode-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode-titlebar {
  font-size: 1.25em;
  margin-right: 1em;
}

.darkmode-navbar {
  font-size: 0.85em;
}

.darkmode-icon {
  font-size: 1.25em;
}

.darkmode-sun {
  // color: #d4ae4f;
  color: #f0d183;
}

.darkmode-moon {
  color: #3673b3;
}

.darkmode-switch {
  display: flex;
  align-items: center;
  // background-color: shared.$themeColor2;
  // width: 3.5em;
  margin-left: 1em;
  height: 2em;
  // padding: 0 0.15em;
  border-radius: 2em;
  cursor: pointer;
}

.darkmode-switch-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--container-border-color-light);
  border-radius: 0.675em;
  width: 2em;
  height: 2em;
  font-size: 1.125em;

  &:hover {
    border-color: var(--container-border-color);
  }
}

.contact-icons-container {
  display: flex;
  justify-content: right;
}

.contact-icons-titlebar a {
  font-size: 2.5rem;
  margin-left: 20px;
}

/* -- Navigation bar -- */
#navbar {
  padding: 6px;
  // background-color: rgb(54, 54, 54);
  // background-color: shared.$almostWhite;
      
  // background-color: hsl(210, 15%, 98%);
  background-color: var(--container-color);
  width: 100%;
  border-bottom: 1px solid var(--container-border-color);
}

.navbar-contents {
  width: shared.$mainWidth;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-initials {
  // font-family: "JetBrains Mono", monospace;
  font-family: "Geologica";
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.75rem;
  // margin-top: -4px;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    color: shared.$themeColor2;
  }
}

.navbar-to-top {
  transition: 0.25s;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.5rem;
  color: shared.$themeColor2;
  opacity: 0;
}

.navbar-initials:hover ~ .navbar-to-top {
  opacity: 1;
}

#navbar:not(.at-top) {
  justify-content: center;
}

/* used for sticky navigation bar effect */
#navbar.at-top {
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-links {
  text-align: center;
  margin: auto;

  button {
    font-family: unset;
    background: none;
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    padding: 7px 14px;
    margin: 0 3px;
    font-size: 1rem;

    &:hover {
      background-color: var(--container-border-color);
    }
  }

  button:not(.thispage) {
    // color: rgb(168, 168, 168);
    color: var(--font-color);
  }

  button.thispage {
    color: shared.$almostWhite;
    // background-color: rgb(95, 95, 95);
    background-color: shared.$themeColor2;
  }
}

.contact-icons-navbar {
  font-size: 1.75rem;
  text-align: right;
  
  a {
    margin-left: 12px;
  }
}

@media (max-width: shared.$mainWidth) {
  #titlebar {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  .contact-icons-container {
    display: none;
  }

  #navbar {
    display: none;
  }

  #titlebar {
    width: initial;
  }
}
