/*
 * CSS relevant to header section
 */
@use "shared";

header {
  background-color: rgb(54, 54, 54);
  color: shared.$almostWhite;
}

:root.dark-mode header {
  color: var(--text-color);
}

$darkNavbarColor: #1a1b1b;

:root.dark-mode header {
  background-color: $darkNavbarColor;
}

#titlebar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: shared.$mainWidth;
}

#title {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

.darkmode-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode-titlebar {
  font-size: 1.25em;
  margin-right: 1em;
}

.darkmode-icon {
  font-size: 1.25em;
}

.darkmode-sun {
  color: #d4ae4f;
  margin-left: -1px;
}

.darkmode-moon {
  color: #3673b3;
}

.darkmode-switch {
  display: flex;
  align-items: center;
  background-color: shared.$themeColor2;
  width: 3.5em;
  margin: 0 0.25em;
  height: 1.75em;
  padding: 0 0.15em;
  border-radius: 2em;
  display: flex;
  cursor: pointer;
}

.darkmode-switch-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: shared.$almostWhite;
  border-radius: 2em;
  width: 1.5em;
  height: 1.5em;
}

.contact-icons a {
  color: shared.$almostWhite;

  &:hover {
    color: shared.$themeColor2;
  }
}

:root.dark-mode .contact-icons a {
  color: var(--text-color);
}

.contact-icons-container {
  display: flex;
  justify-content: right;
}

.contact-icons-titlebar a {
  font-size: 2.5rem;
  margin-left: 20px;
}

/* -- Navigation bar -- */
#navbar {
  padding: 6px 1rem;
  background-color: rgb(54, 54, 54);
  width: 100%;
  display: flex;
  align-items: center;

  & > div:not(.navbar-links) {
    width: 250px;
  }
}

:root.dark-mode #navbar {
  background-color: $darkNavbarColor;
}

.navbar-initials {
  font-family: "JetBrains Mono", monospace;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.75rem;
  margin-top: -4px;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    color: shared.$themeColor2;
  }
}

.navbar-to-top {
  transition: 0.25s;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.5rem;
  color: shared.$themeColor2;
  opacity: 0;
}

.navbar-initials:hover ~ .navbar-to-top {
  opacity: 1;
}

#navbar:not(.at-top) {
  justify-content: center;
}

/* used for sticky navigation bar effect */
#navbar.at-top {
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-links {
  text-align: center;

  button {
    font-family: unset;
    background: none;
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    margin: 0 6px;
    font-size: 1.25rem;

    &:hover {
      background-color: rgb(75, 75, 75);
    }
  }

  button:not(.thispage) {
    color: rgb(168, 168, 168);
  }

  button.thispage {
    color: shared.$almostWhite;
    // background-color: rgb(95, 95, 95);
    background-color: shared.$themeColor2;
  }
}

.contact-icons-navbar {
  font-size: 2rem;
  text-align: right;
  
  a {
    margin-left: 15px;
  }
}

@media (max-width: shared.$mainWidth) {
  .navbar-links {
    display: none;
  }

  #titlebar {
    width: initial;
    margin: 0 1rem;
  }


  #title {
    font-size: 3rem;
  }
}

@media (max-width: shared.$smallScreen) {
  #titlebar {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  #title {
    margin-bottom: 15px;
  }

  .contact-icons-container {
    justify-content: center;
  }

  #navbar > div:not(.navbar-links) {
    width: unset;
  }
}
