@use "shared";

.project {
  // background-color: #d9e6eb;
  // background-color: hsl(190, 46%, 92%);
  background-color: hsl(186, 46%, 94%);
  // background-color: #d9d9d9;
  padding: 25px;
  border-radius: 20px;
  height: 100%;
  margin: auto;
  box-shadow: 0 0 10px hsl(182, 10%, 73%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-link:hover .project-image-container {
  background-color: hsl(182, 36%, 69%);
}

.project-link:hover .project-image {
  max-width: 85%;
  max-height: 85%;
}

.project-image-container {
  height: 200px;
  position: relative;
  // background-color: hsl(182, 44%, 73%);
  background-color: hsl(182, 46%, 78%);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: 0.5s;
}

.project-image {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.project-tech {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
