/*
 * Relevant to Skills section of webpage
 * Note: some css properties are modified in skills.js
 */

/* Container for skills circle-related elements */
#skills-circle {
  position: relative;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  // visibility: hidden; /* temporary; while js is running */
  margin-top: -50px;
}

text {
  fill: rgb(63, 101, 112);
  font-size: 28px;
}

// $lightestColor: hsl(184, 50%, 80%);
// $lightestColor: hsl(184, 45%, 83%);
$lightestColor: hsl(184, 45%, 87%);

.arc-fill-langs {
  stroke: $lightestColor;
}

.arc-fill-frameworks {
  stroke: darken($lightestColor, 5%);
}

.arc-fill-tools {
  stroke: darken($lightestColor, 10%);
}

/* Actually an enclosing div around skill picture */
.skill-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  &:hover {
    width: 120px;
    height: 120px;
  }
}

/* Actual image inside enclosing div */
// .skill-picture-img {
.skill-picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Info container at center of skills circle */
#skill-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  // transition: 0.5s;
  // text-align: center;
}

.reset {
  opacity: 0;
  transition: none;
}

.transition {
  transition: 0.5s;
}

.fading-out {
  opacity: 0;
}
.fading-in {
  opacity: 1;
}

/* Following items for elements of info container */

#info-image {
  // transition: 0.5s;
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}

#info-name {
  font-size: 45px;
  margin: 15px;

  & > p {
    /* Draw border around *what will be* lightly colored text so it is easier to read */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
    margin: 15px;
  }
}

