---
import "../styles/global.scss";

import Header from "../components/Header";
import Section from "../components/Section.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      property="og:description"
      content="Alex Snezhko's portfolio website"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Snezhko</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />

    <style lang="scss">
      @use "../styles/shared";

      main {
        width: shared.$mainWidth;
        margin: auto;
      }
      
      @media (max-width: shared.$mainWidth) {
        main {
          width: initial;
          margin: 1rem;
        }
      }
    </style>
  </head>

  <script is:inline>
    const initialTheme =
      window.localStorage.getItem("color-scheme") ??
      (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    if (initialTheme === "dark") {
      document.documentElement.classList.add("dark-mode");
    }
  </script>

  <script>
    import { isDarkMode } from "../store";
    isDarkMode.subscribe((darkMode) => {
      if (darkMode) {
        document.documentElement.classList.add("dark-mode");
        window.localStorage.setItem("color-scheme", "dark");
      } else {
        document.documentElement.classList.remove("dark-mode");
        window.localStorage.setItem("color-scheme", "light");
      }
    });
  </script>

  <body>
    <Header client:load />
    <main id="main">
      <Section longName="About Me" name="about"><About /></Section>
      <Section longName="Experience" name="experience"><Experience /></Section>
      <Section longName="Projects" name="projects"><Projects /></Section>
      <Section longName="Skills" name="skills"><Skills /></Section>
    </main>
    <Footer />
  </body>
</html>
