---
---
<style lang="scss">
  @use "../styles/shared";

  .personal-description-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
  }

  .personal-description {
    flex-grow: 0;
    flex-shrink: 99;
  }

  .fedora-link {
    $color: #52a2da;
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }
  }

  .neovim-link {
    $color: #36a353;
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }
  }

  .portrait {
    border-radius: 46px;
    // box-shadow: 0 0 14px #999;
  }

  :root.dark-mode .portrait {
    // box-shadow: 0 0 14px rgb(94, 94, 94);
  }

  .ncsu-link {
    $color: red;
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }
  }

  #education-content {
    display: flex;
    align-items: top;
  }

  #ncsu-img {
    margin-right: 25px;
  }

  #education-desc {
    flex-grow: 0;
    flex-shrink: 99;
  }

  @media (max-width: shared.$mainWidth) {
    img {
      display: none;
    }

    p {
      margin-top: 0;
    }
  }
</style>

<div>
  <div class="personal-description-container">
    <img src="/assets/me.jpg" alt="Alex Snezhko" width="200" height="200" class="portrait" />

    <div class="personal-description">
      <p>
        Hi, I'm Alex! I'm a software engineer with a love for learning and solving problems.
      </p>
      <p>
        Aside from a career path, I consider programming and technology to be
        hobbies of mine. I am particularly interested in web development and compilers,
        and love working on open-source software projects in my free time.
      </p>
      <p>
        Outside of tech, I enjoy gaming, building custom mechanical keyboards, and heavy metal music.
      </p>
    </div>
  </div>

</div>
