---
---
<div class={`${className} contact-icons`}>
  <a href="mailto:alexsnezhko89@gmail.com">
    <FaEnvelope />
  </a>
  <a href="https://stackoverflow.com/users/12573825/apollo">
    <FaStackOverflow />
  </a>
  <a href="https://www.linkedin.com/in/alex-snezhko/">
    <FaLinkedin />
  </a>
  <a href="https://github.com/alex-snezhko">
    <FaGithub />
  </a>
</div>