---
import ExperienceItem from "./ExperienceItem.astro";
import { angularTag, aspnetTag, azureTag, csTag, graphqlTag, javaTag, kafkaTag, kubernetesTag, mysqlTag, psqlTag, reactTag, rmqTag, springTag } from "../utils/skills";
---
<style lang="scss">
  .experience-items {
    display: flex;
    flex-direction: column;
  }
</style>

<div>
  <div class="experience-items">
    <ExperienceItem
      imageUrl="/assets/spacex.png"
      position="Software Engineer"
      company="SpaceX"
      companyUrl="https://www.spacex.com/"
      timeline="July 2023 - Present"
      descriptionItems={[
        "Develop tools for Starlink dish fulfillment and other logistics verticals.",
        "Interact directly with stakeholders to understand business requirements and plan projects.",
      ]}
      techUsed={[csTag, aspnetTag, psqlTag, kafkaTag, kubernetesTag, angularTag]}
      isFirst
    />

    <ExperienceItem
      imageUrl="/assets/indeed.png"
      position="Software Developer Intern"
      company="Indeed"
      companyUrl="https://www.indeed.com/about"
      timeline="May 2022 - Aug 2022"
      descriptionItems={[
        "Developed tools used for crawling and aggregating job postings from external sources onto Indeed, ultimately helping provide useful search results and recommendations for job seekers.",
        "Improved backend service reliability and maintainability by building microservices encompassing functionality from legacy monolithic backend.",
        "Developed user interface components for newer and more feature-rich web application for job aggregation.",
      ]}
      techUsed={[javaTag, springTag, graphqlTag, mysqlTag, rmqTag, reactTag]}
    />

    <ExperienceItem
      imageUrl="/assets/blackbaud.png"
      position="Software Engineer Intern"
      company="Blackbaud"
      companyUrl="https://www.blackbaud.com/"
      timeline="May 2021 - Aug 2021"
      descriptionItems={[
        "Led the development of a microservice suite providing a REST API for interfacing with SOAP-based CRM web application backend, cutting HTTP message size by up to 95% and improving client workflow efficiency.",
        "Transitioned services facilitating custom SSO authentication from on-premises SQL Server to Azure Cosmos DB.",
      ]}
      techUsed={[csTag, aspnetTag, azureTag]}
      isLast
    />
  </div>
</div>

