---
import { Icon } from 'astro-icon/components'
import '@fortawesome/fontawesome-svg-core/styles.css';

interface ContactItem {
  name: string;
  href: string;
  icon: string;
}

const contactItems: ContactItem[] = [
  {
    name: "Email",
    href: "mailto:alexsnezhko89@gmail.com",
    icon: "fa:envelope"
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/alex-snezhko/",
    icon: "fa:linkedin"
  },
  {
    name: "GitHub",
    href: "https://github.com/alex-snezhko",
    icon: "fa:github"
  },
]
---
<style lang="scss">
  @use "../styles/shared";

  footer {
    text-align: center;
    color: rgb(141, 153, 153);
    padding-bottom: 40px;
  }

  .contact-items {
    display: flex;
    margin: 80px 0 60px 0;
    gap: 40px;
    justify-content: center;
  }

  .contact-item {
    display: flex;
    align-items: center;
    // width: 160px;
    // padding: 12px 16px;
    // border-radius: 10px;
    color: var(--font-color);

    &:hover {
      color: shared.$themeColor2;
    }
  }

  [data-icon] {
    width: 36px;
    height: 36px;
  }
</style>

<div class="contact-items">
  {contactItems.map(item => (
    <a class="contact-item" href={item.href} target="_blank">
      <Icon name={item.icon} />
    </a>
  ))}
</div>
<footer>🚀 Built with Astro</footer>
