---
import type { SectionName } from "../types"

interface Props {
  name: SectionName;
  longName: string;
}

const { name, longName } = Astro.props;
---
<style lang="scss">
  @use "../styles/shared";

  .section {
    margin: 100px 0;
    margin-bottom: 150px;
    // padding: 50px;
    text-align: left;

    h1 {
      font-size: 2.25rem;
      text-decoration: underline;
      text-decoration-thickness: 5px;
      text-underline-offset: 20px;
      text-decoration-color: shared.$themeColor1;
      margin-bottom: 70px;
      margin-top: 0;
    }
  }

  .scroll-target {
    height: 1px;
  }

  @media (max-width: shared.$mainWidth) {
    .section {
      margin: 40px 0;
    }
  }
</style>

<div id={`${name}-scroll-target`} class="scroll-target" />
<section class="section">
  <h1>{longName}</h1>
  <slot />
</section>
