---
import type { SectionName } from "../types"

interface Props {
  name: SectionName;
  longName?: string;
}

const { name, longName } = Astro.props;
---
<style lang="scss">
  @use "../styles/shared";

  .section {
    margin: 60px 0 100px 0;
    // padding: 50px;
    text-align: left;

    h1 {
      font-family: "Alegreya Sans SC";
      font-weight: 500;
      font-size: 2.5rem;
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 20px;
      text-decoration-color: shared.$themeColor1;
      margin-bottom: 70px;
      margin-top: 0;
    }
  }

  .scroll-target {
    height: 1px;
  }

  @media (max-width: shared.$mainWidth) {
    .section {
      margin: 20px 0 40px 0;

      h1 {
        margin-bottom: 50px;
      }
    }
  }
</style>

<div id={`${name}-scroll-target`} class="scroll-target" />
<section class="section">
  {longName && <h1>{longName}</h1>}
  <slot />
</section>
