---
interface Props {
  name: string;
  imgUrl: string;
  // data: { type: "devicon", deviconId: string } | { type: "img", src: string };
}

const { name, imgUrl } = Astro.props;
---
<style lang="scss">
  .tag {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: none;
    padding: 4px 8px;
    font-size: 0.875em;
    background-color: #eee;
    box-shadow: 0 0 4px hsl(0, 0%, 78%);

    img {
      max-width: 1.25rem;
      max-height: 1.25rem;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;

      // .color-main {
      //   fill: orange;
      // }
    }

    i {
      font-size: 1.25rem;
    }

    span {
      margin-left: 8px;
    }
  }

  :root.dark-mode .tag {
    // background-color: #3b6b79;
    background-color: #3a3a3a;
    color: white;
    box-shadow: 0 0 3px hsl(180, 6%, 24%);
  }
</style>

<li class="tag">
  <img src={imgUrl} alt={name} />
  <span>{name}</span>
</li>
